div.bottom {
  display: flex;
  overflow: auto;
}
div.top {
  height: 30%;
  width: 100%;
  background-color: aqua;
  border-radius: 10%;
}
div.top-half {
  display: flex;
  text-align: center;
}
div.sections {
  background-size: cover;
  background-attachment: fixed;
  text-align: justify;
  margin-right: 40%;
  margin-left: 2%;
  overflow: scroll;
  flex: 60%;
  width: 65%;
}
.navBar {
  padding: 0;
  text-align: center;
}
.navBar li {
  display: inline-block;
  margin-right: 4%;
}
.navBar a {
  text-decoration: none;
  background: #eee;
  padding: 15px;
  border-radius: 5px;
  text-decoration: black;
  font-family: "Noto Serif Display", serif;
}
div.fig img {
  display: block;
  width: 150px;
  height: 150px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  box-shadow: -2px 8px 15px 4px rgba(0, 0, 0, 0.31);
  border-radius: 50%;
  flex: 20%;
}

div.sidebar {
  flex: 40%;
  text-align: center;
  position: fixed;
  right: 0;
  width: 35%;
  border-radius: 10px;
}

h1.pageTitle {
  width: 100;
}
h1,
h2 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  /*title*/
  font-family: "IBM Plex Serif", serif;
  font-size: 400%;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  letter-spacing: 0.12em;
  word-spacing: 0.2em;
  text-indent: 0em;
  text-shadow: -10px -2px 4px rgba(0, 0, 0, 0.33);
}
h2 {
  font-size: 200%;
  margin-top: 2em;
  margin-bottom: 1em;
  height: 100px;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.33);
  font-family: "Noto Serif Display", serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 2em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  line-height: 200%;
}

a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: red;
}
